{% extends 'base_facebro/index.html' %} {% block body %} {% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <h1>Search :: {{ query }}</h1>
            <hr>
        </div>
        <div class="col-lg-12">
            {% for result in results %}
            <div class="media">
                <img class="mr-3" width="64" src="{{ result.get_avatar.image }}" alt="{{ result.name }}">
                <div class="media-body">
                    <h5 class="mt-0"><a href="{% url 'app_facebro:timeline' user_id=result.id  %}">{{ result.name }}</a></h5>
                    {% if request.session.user_id %}
                        {% if result.id in followed %}
                        <a href="{% url 'app_facebro:unfollow' user_id=result.id %}" class="btn btn-sm btn-warning">Unfollow</a>
                        {% else %}
                        <a href="{% url 'app_facebro:follow' email=result.email %}" class="btn btn-sm btn-success">Follow</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <hr> {% endfor %}
        </div>
    </div>
</div>
{% endblock %}