{% extends 'base_facebro/index.html' %} {% block body %} {% load static %}
<div class="container mt-5">
    <div class="row">
        {% include 'app_facebro/sidebar.html' %}
        <div class="col-md-10">
            <div class="col-md-8">
                {% if user.id in followed %}
                <form action="{% url 'app_facebro:post_create' user_id=user.id %}" method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <textarea class="form-control is-valid" placeholder="What's on your mind?" name="html_content" required></textarea>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-success">Submit</button>
                        </div>
                    </div>
                </form>
                <hr>
                {% endif %}
                {% for post in posts %}
                <div class="card mb-3 post bg-light">
                    <div class="card-body bg-white">
                        <ul class="list-unstyled">
                            <li class="media">
                                <img class="mr-3" src="{{ post.user.get_avatar.image }}" width="48" alt="{{ post.user.name }}">
                                <div class="media-body">
                                    <small class="text-muted float-right">{{ post.created_at }}</small>
                                    {% if post.user_id == post.following_id %}
                                    <h5 class="mt-0 mb-1"><a href="{% url 'app_facebro:wall' user_id=post.user.id %}">{{ post.user.name }}</a></h5>
                                    {% else %}
                                    <h5 class="mt-0 mb-1"><a href="{% url 'app_facebro:wall' user_id=post.user.id %}">{{ post.user.name }}</a> > <a href="{% url 'app_facebro:wall' user_id=post.following.id %}">{{ post.following.name }}</a></h5>
                                    {% endif %}
                                    <p class="float-none">{{ post.content }}</p>
                                </div>
                            </li>
                        </ul>
                        {% if request.session.user_id == post.user_id or request.session.user_id == post.following_id %}
                        <blockquote class="blockquote mb-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <footer class="blockquote-footer">
                                        <small class="text-muted">
                                            <a href="{% url 'app_facebro:post_delete' post_id=post.id %}" class="text-danger">Delete</a>
                                        </small>
                                    </footer>
                                </div>
                            </div>
                        </blockquote>
                        {% endif %}
                    </div>
                    {% if user.id in followed %}
                    <div class="card-footer">
                        <form action="{% url 'app_facebro:comment_post' post_id=post.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="html_content" placeholder="Enter comment">
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <hr>
                    {% endif %}
                    {% if post.post_comment.all %}
                    <ul class="list-unstyled p-3">
                        {% for comment in post.get_comment %}
                        <li class="media mt-2">
                            <img class="mr-3" src="{{ comment.user.get_avatar.image }}" width="32" alt="Generic placeholder image">
                            <div class="media-body">
                                <small class="text-muted float-right">{{ comment.created_at }}</small>
                                <h6 class="mt-0 mb-1"><a href="{% url 'app_facebro:wall' user_id=comment.user.id %}">{{ comment.user.name }}</a></h6>
                                <p class="float-none">{{ comment.content }}</p>
                                {% if request.session.user_id == comment.user.id %}
                                <footer class="blockquote-footer float-left">
                                    <a href="{% url 'app_facebro:comment_delete' comment_id=comment.id %}" class="text-danger">Delete</a>
                                </footer>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div> {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}