{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'base_facebro/css/bootstrap.reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_facebro/css/bootstrap.grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_facebro/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_facebro/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'base_facebro/css/style.css' %}">
    <title>Facebro</title>
</head>

<body>
    {% include 'base_facebro/navbar.html' %} {% block body %} {% endblock %} {% include 'base_facebro/footer.html' %}

    <script src="{% static 'base_facebro/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'base_facebro/js/bootstrap.min.js' %}"></script>
</body>

</html>