<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'app_facebro:index' %}">FACEBRO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link my-2 my-sm-0" href="{% url 'base_facebro:about' %}">About</a>
                </li>
                {% if request.session.name %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'app_facebro:timeline' user_id=request.session.user_id %}">Timeline
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{ request.session.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'app_facebro:setting' %}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'auth_facebro:signout' %}">Signout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-primary my-2 my-sm-0" href="{% url 'auth_facebro:index' %}"><i class="fa fa-user"></i> Join</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'app_facebro:search' %}" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" name="html_query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>